body{
    background-image: url('thumb.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}
.container{
    white-space: nowrap;
    color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-size : 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.logo {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: text rgba(32, 152, 238, 0.5);
}

#line{
    border: none;
    border-bottom: 1px solid white;
    width: 20%;
    margin: auto;
}

h1 {
    margin: auto;
    border-radius: 50%;
    object-fit: cover;

}
